asgiref==3.2.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
backcall==0.1.0
cffi==1.13.2
channels==2.2.0
constantly==15.1.0
coverage==4.5.4
cryptography==2.8
daphne==2.3.0
decorator==4.4.0
Django==2.2.9
django-cors-headers==3.1.0
django-debug-toolbar==2.0
django-model-utils==4.0.0
django-x509==0.5.1
djangorestframework==3.9.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipdb==0.12.2
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
jsonfield==2.0.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
Pygments==2.4.2
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pytz==2019.3
python-dateutil==2.8.1
service-identity==18.1.0
simplegeneric==0.8.1
six==1.13.0
sqlparse==0.3.0
traitlets==4.3.2
Twisted==19.7.0
txaio==18.8.1
validators==0.13.0
wcwidth==0.1.7
zope.interface==4.6.0
