$red       : #DB2828;
$lightgray : #E8E8E8;
$terminal-bg  : #404040;
$green : #009900;

.shell {
    background: $lightgray;
    padding: 0.2em;
    border-radius: 0.2em;
    font-weight: bold;
    font-family: monospace, monospace;
}

.settings-button {
    width: 120px;
}
