# This file is excluded from git.
# Here you can place private configuration entries that should never
# touch remote repository.
#
# Options placed in this file are imported inside settings module.
# Relevant settings submodules are provided in comments below.
#
# DO NOT DELETE THIS FILE - IT IS A TEMPLATE. RUN:
#
#   ../manage.py configure script
#
# TO GENERATE STARTUP CONFIGURATION FROM THIS TEMPLATE
#
from . import get_backend_path

# email.py
EMAIL_ENABLED = False
EMAIL_HOST = ''
EMAIL_PORT = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_FROM = '{{ email_to_admin }}'
EMAIL_TO_ADMIN = '{{ email_to_admin }}'


# development.py

# True - frontend resources are served from frontend project, debug mode on
# False - stable builds from app resources are used, debug mode off
DEVELOPMENT = {{ development }}

# secret.py
SECRET_KEY = '{{ secret_key }}'


# databases.py
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': get_backend_path('db.sqlite3'),
    }
}

