Source: openvpnathome
Section: admin
Priority: optional
Maintainer: Chris Narkiewicz <hello@ezaquarii.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/ezaquarii/openvpn-at-home/
Vcs-Git: https://github.com/ezaquarii/openvpn-at-home.git

Package: openvpnathome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl (>= 1.1.0), openvpn (>= 2.4.4), ansible (>=2.5.0)
Description: Web OpenVPN Management UI
 This app provides easy management console to keep OpenVPN
 configuration files in one place, provided in self-contained,
 easily deployable, clickable package.
