<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OpenVPN@Home</title>
        <link rel="icon" href="data:,">
    </head>
    <body style="margin: 0px">
        <div id="root">
            <div>App is not configured.</div>
            <ul>
                <li>Has config file: {{ has_settings_file }}</li>
                <li>Is configured: {{ is_configured }}</li>
                <li>Is DB migrated: {{ is_migrated }}</li>
                <li>Has active admin: {{ has_active_admin }}</li>
            </ul>
        </div>
    </body>
</html>
