[Unit]
Description=OpenVPN@Home app
After=syslog.target

[Service]
ExecStart=/srv/openvpnathome/bin/daphne.sh
User=openvpnathome
Group=openvpnathome
Restart=on-failure
StandardError=syslog
WorkingDirectory=/srv/openvpnathome/

[Install]
WantedBy=default.target
